/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin rapla_pathfinder_p {
  /* Include all the styles from the reindeer theme */
 /* TODO Can we already use Tune-Theme? */
  @include reindeer;
	
	
	* {
		margin: 0;
		padding: 0;
	}
	
	.pathfinder {
		background-image: url('img/background.png') !important;
		background-color: #E0E0E0 !important;
	}
	
	.main {
		width: 98% !important;
		overflow: hidden !important;
		height: 100%;
		padding-left: 1%;
		padding-right: 1%;
        
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
	}
	
	/* Keyboard Styling */
	
	.keyboard-row {
		overflow: hidden;
		display: block;
		float: left;
		width : 100%;
		margin-left: 0.2%;
		
		.v-slot {
			display: block;
		
			.keyboard-button {
				float: left;
				height: 7em;
				width: 8.13%;
				margin-top: 4px;
				margin-right: 0.2%;
				background-image: -webkit-linear-gradient(top, #666666 0%, #494949 100%);
				background-image: -moz-linear-gradient(top, #666666 0%, #494949 100%);
				background-image: -ms-linear-gradient(top, #666666 0%, #494949 100%);
				
				.keyboard-button-caption {
					padding-left: 45%;
					padding-top: 35%;
					color: #FFFFFF;
					font: 1.65em Arial;
					display: block;
				}
			}
			
			.keyboard-delete {
				float: left;
				height: 7em;
				width: 16.4%;
				margin-top: 4px;
				margin-right: 0.2%;
				background-image: -webkit-linear-gradient(top, #666666 0%, #494949 100%);
				background-image: -moz-linear-gradient(top, #666666 0%, #494949 100%);
				background-image: -ms-linear-gradient(top, #666666 0%, #494949 100%);
				
				.keyboard-delete-caption {
					padding-left: 38%;
					padding-top: 17%;
					color: #FFFFFF;
					font: 1.65em Arial;
					display: block;
				}
			}
			
			.keyboard-space {
				float: left;
				height: 7em;
				width: 41.4%;
				margin-top: 4px;
				margin-right: 0.2%;
				background-image: -webkit-linear-gradient(top, #666666 0%, #494949 100%);
				background-image: -moz-linear-gradient(top, #666666 0%, #494949 100%);
				background-image: -ms-linear-gradient(top, #666666 0%, #494949 100%);
				
				.keyboard-space-caption {
					padding-left: 43%;
					padding-top: 7%;
					color: #FFFFFF;
					font: 1.65em Arial;
					display: block;
				}
			}
		}
	}
	
	/* Search Field Styling */
	
	.search {
		width: 100%;
		margin-top: 3em;
		margin-bottom: 3em;
		background-color: #e2001b;
		
		.v-slot {
			display: block;
			
			.search-icon {
				float:left;
				width: 6%;
				
				img {
					height:2.8em;
					width:2.8em;
					padding-left: 22%;
					padding-top: 20%;
				}
			}
			
			.searchfield {
				float:left;
				width:88%;
				height: 60px;
				background-color: #FFFFFF;
				border: 1px solid #e2001b;
				font: 1.65em Arial;
			}
			
			.delete-icon {
				float:left;
				width: 6%;
				
				img {
					height:2.8em;
					width:2.8em;
					padding-left: 22%;
					padding-top: 20%;
				}
			}
		}
	}
    
    /* Accordion styling */
	
	.v-scrollable.v-table-body-wrapper.v-table-body {
		background-color: #E0E0E0;
	}

	.accordion-result{
		margin-top: 7em;
	}
	
	.accordion-result-item-caption {
		height: 40px;
		background-color: #393939;
		margin-top: 3px;
		
		.v-caption {
			color: #cccccc;
			font: 1.65em Arial;
			padding-top: 0.2%;
		}
		
		img {
			width: 30px;
			height: 30px;
			padding-left: 0.3%;
		}
	}
    
    /* Global table styling */
    
	.v-table-row-result-row{
		margin-top: 2px;
		display: block;
	
		.v-table-cell-content-result-row {
			height: 40px;
			background-color: #767676;
			padding-left: 30px;
        
        	.v-table-cell-wrapper {
				color: #cccccc; 
				font: 20px Arial;
			}
		}
	}
	
	.accordion-result-item-content{
		height: auto !important;
		overflow: hidden;
		display: block;
	}
    
    /* FreeRooms Styling */
    
    .freeroom{
    	min-height:100%;
    	max-width:100%;
    	overflow:hidden;
    }
    
    .freeroom-header {
    	background-color: #393939;
    	color: #FFF;
    	font: 1.65em Arial;
    	width: auto;
    	
    	.freeroom-caption-container{
    			padding-left: 0.5em;
    	}
    }
    
    .freeroom-caption-container {
    	width: auto !important;
    }
    
    .freeroom-body-noselection{
    	overflow:hidden;
    }
    
    .freeroom-body{
    	height: auto !important;
    }
    
    .freeroom-row, .freeroom-row-odd{
    		background-color: #767676;
    		color: #FFF;
    		font: 1.65em Arial;
    		padding: 2em;
    		overflow:hidden;
    		display: block;
    		
    		.v-label{
    			padding-left: 0.5em;
    			font: 20px Arial;
    		}
    }
	
	.freeroom-border {
		width: 100%;
		margin-top: 7em;
		color: #393939;
		margin-bottom: 2em;
		
		.v-caption		{ font-size: 30px; line-height: 30px; }
		.v-gridlayout 	{ width:100% !important; }
		.roomLink{ 
			padding-left: 100px; 
			font-size: 1.65em; 
			
			a {
				color: #393939;
				font-size: 15px;
			}
		}
		.roomLabel		{ font-size: 15px; margin-top: 5px; }	
	}
	
	/* Datetime Styling */
	
	.datetime{
		font-size: 30px;
		color: red;
		width: 100%;
		position: relative;
		top: 0%;
		margin-top: 1%;
	}
	
	.dateLabel{
		display: inline;
	}
	
	.timeLabel {
		display: inline;
		float: right;
		color: #FFF;
	}
	
	/* MenuBar Styling */
    
    .flagImage, .v-icon {
		height: 5em;
	}	
	
	.flagImage {
		width: 7.5em;
		margin: 0.2em;
	}
	
	.v-popupview-popup {
		background-color: #767676;
	}
	
	.v-popupbutton .v-popup-indicator {
		background-image: url('icon/dropup_icon.png') !important;
		background-size: 20px Auto;
		width: 60px;
		height:60px;
		background-position:20px 50%;
	}
	
	.menuBar{
		position: absolute;
		top: 0;
		left: 0;
		margin-top: 1722px;
		
		.v-gridlayout {
			
			.languageButton {
				margin-left: 2em;
				background: #797979;
				height: 60px;
			}
			
			.wheelChairButton {
				margin-right: 2em;
			}
			
			.homeButton {
				margin-right: 2em;
			}
			
			.v-gridlayout-slot {
				
				.image-footer{
					padding-top: 60px;
				}
			}
		}
	}
	
	.details {
		
		.detail-image{
			margin-top: 7em;
			width: 1058px !important;
		}
	}
}