/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin rapla_pathfinder_p {
  /* Include all the styles from the reindeer theme */
  /* TODO Can we already use Tune-Theme? */
  @include reindeer;
	
	// Stele spezifisches Styling
	.v-ui[width-range~="1080px-1080px"] {
		background-image: url('img/background.png') !important;
		
		.stele {			
			width: 100% !important;
			overflow: hidden !important;
			height: 100%;
	        -webkit-touch-callout: none;
	        
	        .datetime{
	        	display: block;
				font-size: 30px;
				color: red;
				width: 100%;
				position: relative;
				top: 0%;
				margin-top: 1%;
			}
			
			.logo-dhbw {
				display: none;
			}
	
			.dateLabel{
				display: inline;
				float: left;
			}
	
			.timeLabel {
				display: inline;
				text-align: right;
				float: right;
				color: #FFF;
			}
	
		
			.menuBar {
				position: fixed;
				bottom: 4%;
				width: 96% !important;
				
				.v-gridlayout {
					.languageButton {
						background: #797979;
						height: 60px;
					}
			
					.wheelChairButton {
						display: block;
						margin-right: 2em;
						
						.v-icon {
							height: 5em !important;
						}
					}
			
					.homeButton {
						margin-right: 2em;
					}
			
					.v-gridlayout-slot {
						.image-footer{
							padding-top: 60px;
						}
					}
				}		
			}
			
			.flagImage, .v-icon {
				height: 5em;
			}	
	
			.flagImage {
				width: 7.5em;
				margin: 0.2em;
			}
	
			.v-popupview-popup {
				background-color: #767676;
			}
	
			.v-popupbutton .v-popup-indicator {
				background-image: url('icon/dropup_icon.png') !important;
				background-size: 20px Auto;
				width: 60px;
				height:60px;
				background-position:20px 50%;
			}
		
			.v-slot.v-slot-detailImage{
				width: 100% !important;
				float: none;
				clear: both;
				margin-right: 3%;
				margin-top: 3%;
				margin-bottom: 3%;
		
				.detailImage {
					box-shadow: 0px 0px 10px #808090;
				}
			}
		
			.v-slot.v-slot-detailEvents{
				width: 100% !important;
				clear: both;
				float: none;
			
				.v-calendar-current-time{
					width: 100% !important;
				}
			}
		
			.detailInfo {
				margin-top: 2%;
				margin-bottom: 2%;
				
				.v-table-row-result-row {
					background-image: none;
					width: 100%;
				}
				
				.v-layout.v-expand.v-slot-global-table{
					width: 75% !important;
				}
			}
			
			//Big Captions
			.v-caption-big-caption { 
				font-size: 30px; 
				line-height: 30px; 
			}
			
			//Table Styling
			
			.global-table {
				.v-table-header-wrap, .v-table-header-cell, .v-table-resizer
				{
					height: 40px;	
				}
				
				.v-table-header {
					height: 40px;
			   		font: 1.65em Arial;
			   		width: auto;
				}
			}
			
			
			
			//Table Row Styling
			.v-table-row-result-row{
				margin-top: 2px;
			
				.v-table-cell-content-result-row {
					padding-top: 5px;
					padding-bottom: 5px;
					padding-left: 30px;
			       
			       	.v-table-cell-wrapper {
						font: 20px Arial;
					}
				}
			}
			
			/* Resource Accordion styling*/
			
			.resource-accordion-item-caption {
				height: 40px;
				margin-top: 3px;
				
				.v-caption {
					font: 1.65em Arial;
					padding-top: 0.2%;
				}
				
				img {
					width: 30px;
					height: 30px;
					padding-left: 0.3%;
				}
			}
			
			.button-up, .button-down {
				display: block;
				height: 6em;
				width: 6em;
				padding: 2em 1.4em;
				
				.v-icon{
					width: 3em;
					height: 2em;
				}
			}
			
			.button-down{ 
				margin-top: 16em;
			}
			
			//Freeroom Styling
			.freeroom{
		    	margin-top: 7em;
		    	margin-bottom: 7em;
		    	
		    	.v-label{
		    		font: 20px Arial;
		    	}
		    }
			
			/* Search Field Styling */
			
			.search {
				width: 100%;
				margin-top: 2%;
				margin-bottom: 2%; 
				
				.v-slot {
					
					.searchfield {
						float:left;
						width:94% !important;
						height: 60px !important;
						font: 1.65em Arial;
					}
					
					.delete-icon {
						float:left;
						width: 6%;
						
						img {
							height:2.8em;
							width:2.8em;
							padding-left: 22%;
							padding-top: 20%;
						}
					}
				}
			}
			
			.keyboard{
				display: block;
						
				.keyboard-row {
					overflow: hidden;
					display: block;
					float: left;
					width : 100%;
					margin-left: 0.2%;
				
					.v-slot {
						display: block;
				
						.keyboard-button {
							float: left;
							height: 7em;
							width: 8.13%;
							margin-top: 4px;
							margin-right: 0.2%;
							background-image: -webkit-linear-gradient(top, #666666 0%, #494949 100%);
							background-image: -moz-linear-gradient(top, #666666 0%, #494949 100%);
							background-image: -ms-linear-gradient(top, #666666 0%, #494949 100%);
						
							.keyboard-button-caption {
								padding-left: 45%;
								padding-top: 35%;
								color: #FFFFFF;
								font: 1.65em Arial;
								display: block;
							}
						}
					
						.keyboard-delete {
							float: left;
							height: 7em;
							width: 16.4%;
							margin-top: 4px;
							margin-right: 0.2%;
							background-image: -webkit-linear-gradient(top, #666666 0%, #494949 100%);
							background-image: -moz-linear-gradient(top, #666666 0%, #494949 100%);
							background-image: -ms-linear-gradient(top, #666666 0%, #494949 100%);
						
							.keyboard-delete-caption {
								padding-left: 38%;
								padding-top: 17%;
								color: #FFFFFF;
								font: 1.65em Arial;
								display: block;
							}	
						}
					
						.keyboard-space {
							float: left;
							height: 7em;
							width: 41.4%;
							margin-top: 4px;
							margin-right: 0.2%;
							background-image: -webkit-linear-gradient(top, #666666 0%, #494949 100%);
							background-image: -moz-linear-gradient(top, #666666 0%, #494949 100%);
							background-image: -ms-linear-gradient(top, #666666 0%, #494949 100%);
						
							.keyboard-space-caption {
								padding-left: 41%;
								padding-top: 7%;
								color: #FFFFFF;
								font: 1.65em Arial;
								display: block;
							}	
						}
					}
				}
			}
			
			.wheelchair-freeroom {
				margin-top:900px;
				
				.freeroom{
					margin-bottom: 1em;
				}
			}
			
			.wheelchair{				
			
				.leftWheel{
					padding-right: 1em;
					margin-top: 42%;
					
					.search .searchfield{
						width: 90% !important;
						height: 50px !important;
						font: 1.0em Arial !important;
					}
				}
				
				.keyboard{
					margin-right: 1em;
					
					.keyboard-row {
						
				
						.v-slot {
					
							.keyboard-button {
								height: 4em;
						
								.keyboard-button-caption {
									padding-left: 31%;
									padding-top: 32%;
								}	
							}
					
							.keyboard-delete {
								height: 4em;
							
								.keyboard-delete-caption {
									padding-left: 29%;
								}		
							}
					
							.keyboard-space {
								height: 4em;
						
								.keyboard-space-caption {
									padding-left: 33%;
									padding-top: 6%;
								}		
							}
						}
					}
				}
			}
		}
	}
}
