@import "../reindeer/reindeer.scss";
/*
 * Tablet Styling
 */

@mixin tablet {
	@include reindeer;
	
	.v-ui[width-range~="700px-1200px"]{
		
		height: 100%;
		
		.stele {
						
			.logo-dhbw{
				height: 6em !important;
				margin-top: 3em;
			}
			
			.resource-accordion-item-caption {
				height: 35px;
			}
			
			.searchfield {
				height: 44px !important;
				width: 94.5% !important;
			}
			
			.v-popupbutton .v-popup-indicator {
				height: 50px;
			}
			
			.v-icon {
				height: 35px;
			}
			
			.languageButton {
				height: 50px !important;
				
				.v-icon {
					height: 50px;
				}
			}
			
			.resource-accordion .v-table-body-wrapper{
				//height: 289px !important;
			}
			
			.freeroom{
			
				margin-bottom: 1em !important;
				
				.v-table-body{
					height: 100% !important;
				}
				
				.v-table-row-result-row{
					height: 30px;
					
					.v-table-cell-content{
						padding-bottom: 0px;
						padding-top: 0px;
					}
				}
				
				.v-table-body-wrapper.v-table-body div{
					height: 100% !important;
				}
			}
			
			
			
			.v-table-row-result-row .v-table-cell-content-result-row {
				padding-top: 0px;
				padding-bottom: 0px;
			}
		}
	}
}